<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
</p>

<h4>NgFor</h4>
<ul *ngFor="let person of people">
	<li *ngIf="person.age < 30">

		{{ person.name }} ({{ person.age }})


	</li>
</ul>

<h4>NgFor (grouped)</h4>
<ul *ngFor="let group of peopleByCountry">
	<li>{{ group.country }}</li>
	<ul>
		<li *ngFor="let person of group.people">
			{{ person.name }}
		</li>
	</ul>
</ul>

<h4>NgSwitch</h4>
<ul *ngFor="let person of people" [ngSwitch]="person.country"> ①

	<li *ngSwitchCase="'UK'" class="text-success">{{ person1.name }} ({{ person1.country }})
	</li>
	<li *ngSwitchCase="'USA'" class="text-primary">{{ person1.name }} ({{ person1.country }})
	</li>
	<li *ngSwitchCase="'HK'" class="text-danger">{{ person1.name }} ({{ person1.country }})
	</li>
	<li *ngSwitchDefault class="text-warning">{{ person1.name }} ({{ person1.country }})
	</li>
</ul>