<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
</p>

<h4>NgFor</h4>
<ul *ngFor="let person of people1">
	<li *ngIf="person.age < 30">

		{{ person.name }} ({{ person.age }})


	</li>
</ul>

<h4>NgFor (grouped)</h4>
<ul *ngFor="let group of peopleByCountry">
	<li>{{ group.country }}</li>
	<ul>
		<li *ngFor="let person of group.people">
			{{ person.name }}
		</li>
	</ul>
</ul>

<h4>NgSwitch</h4>
<ul *ngFor="let person of people" [ngSwitch]="person.country">

	<li *ngSwitchCase="'UK'" class="blue">{{ person.name }} ({{ person.country }})
	</li>
	<li *ngSwitchCase="'USA'" class="red">{{ person.name }} ({{ person.country }})
	</li>
	<li *ngSwitchCase="'HK'" class="text-danger">{{ person.name }} ({{ person.country }})
	</li>
	<li *ngSwitchDefault class="text-warning">{{ person.name }} ({{ person.country }})
	</li>
</ul>

<h4>NgClass</h4>
<ul *ngFor="let person of people">
	<li [class.text-success]="person.country === 'UK'" [class.text-primary]="person.country === 'USA'"
		[class.text-danger]="person.country === 'HK'">{{ person.name }}
		({{ person.country }})
	</li>
</ul>